.list-title{
  font-size:1.3rem;
  color: #eeb243;
  padding: 0 0.5rem;
}
.list-context{
  color:#777;
  padding:.5rem;
}
.list-icon{
  padding:.5rem 0;
  color:#AAA;
}
.list-icon span{
  display: inline-block;
  padding: 0 10px;
}
#nextdiv{
  position: relative;
}
.rotued{
  width: 100px;
  height: 100px;
  transform: rotate(666turn);
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(.34,0,.84,1);
  /* border-radius: 50%; */
  position: fixed;
  top:50%;
  left: 0;
}
.rotued:hover{
  transform: rotate(666turn);
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(.34,0,.84,1);
  border-radius: 50%;
}